<% content_for :title do%>
    Downloads Page
<% end %>

<div>
    Letter of Approval : <%= link_to "Letter of Approval", "/data/loa" %>
    <br>
    <br>
    <br>
    Outgoing Procedure : <%= link_to "Outgoing Procedures", "/data/op" %>
</div>
