<% content_for :title do%>
    Home
<% end %>

<%= render 'shared/landing' %>

<%= render 'shared/sidebar' %>

<div class="university_list">
    <% @universities.each do |university| %>
        <%= render university %>
<% end %>
</div>
