<% content_for :title do%>
    Home
<% end %>

<%= render 'shared/landing' %>

<div class="text-center row university_list_title">
    <span style="vertical-align:center;"><b class="navbar-brand">Universities</b></span>
</div>

<div class="university_list">
    <% @universities.each do |university| %>
        <%= render university %>
    <% end %>
</div>
